body	{
	background-color: blue;
	font-family: arial,sans-serif;
	
}

img	{
	height: 4em;
	width: 4em;
	margin: .3em;
	
}

h1	{
	text-align: left;
	font-size: 40pt;
	color: white;
	padding-top: .35em;
	padding-bottom: .35em;
	padding-left: .80em;

}

h2	{
	text-align: left;
	font-size: 20pt;
	color: #0000cc;
}

h3	{
	text-align: left;
	font-size: 15pt;
	color: #0000cc;
	margin-bottom: 6.5%;
}

div	{
	text-align: center;
	background-color: #668cff;
	color: white;
	border: 0.2em solid #4d79ff;
	border-radius: 1%;
	width: 70%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1%;
	position: relative;
	padding: 1%;
}

p	{
	margin-bottom: 2%;
	text-align: left;
	background-color: #668cff;
	color: white;
	line-height: 130%;
	word-wrap: break-word;
}

button	{
	text-align: center;
	background-color: #0000b3;
	border: 0.2em solid #0000cc;
	color: white;
	height: 2em;
	width: 10em;
	margin-top: 2%;
	
}

#header	{
	background-color: #9494b7;
	position: relative;
	top: 0;
	width: 100%;
	height: auto;
	border: 0.2em solid #4d79ff;
	/*border: 0.2em solid #666699;*/
	margin: 0;
	padding: 0;

}

#sidebar	{
	position: fixed;
	left: 0;
	background-color: #9494b7;
	color: white;
	border: 0.2em solid #4d79ff;
	border-radius: 1%;
	width: 5.2em;
	height: 15em;
	margin: 0;
	padding: 0;
}

#output1, #output2, #output3	{
	margin-left: 8em;
	font-size: 1.5em;
}